.hero-section {
  background-image: url("/assets/images/redpattern2.png");
  background-repeat: repeat;
  /* color: aliceblue; */
}

.hero-section h1 {
  padding: 0.5em;
  background-color: white;
  border-top: 3px solid #f05c50;
  border-bottom: 3px solid #f05c50;
}

.hero-section p {
  padding: 0.5em;
  background-color: white;
  border-top: 3px solid #f05c50;
  border-bottom: 3px solid #f05c50;
}
